.favorites {
    padding-top: 65px;
    min-height: 100vh;
    background-color: #f8f8f9;
    max-height: 100%;
}

.favorites-title {
    display: flex;
    justify-content: center;
}

.favorites-title h2 {
    padding: 20px;
    color: black;
}

.favorites-card {
    background-color: white;
    margin-bottom: 30px;
    width: 300px;
    height: 350px;
    transition: 0.3s;
    border-radius: 3px;
    position: relative;
}

.favorites-card-image {
    height: 200px;
    width: 100%;
}

.favorites-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.favorites-card-favorites-icon {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

@media (max-width: 460px) {
    .favorites-title h2 {
        font-size: 23px;
    }
}
