/* ============================================ Product List */

.product-list {
    width: 100%;
}

.product-list-container {
    /* margin: 0 100px; */
}

.product-list-title {
    margin-top: 65px;
    text-align: center;
}

.product-list-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-list-auto-content {
    background-color: #f8f8f9;
}

.product-list-sidebar {
    margin-top: 65px;
    /* position: relative;
    position: fixed; */
}

.product-list-pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*  ==================================== Product Card */

.productCard {
    background-color: white;
    margin-bottom: 20px;
}

.productCard-image {
    width: 350px;
    height: 200px;
}

.productCard-favorites-icon {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

/* ================================================================ Product Details */

.product-details {
    margin-top: 70px;
}

.product-details-container {
    margin: 0 100px;
}

.product-details-content {
    display: flex;
}

.product-details-info {
}

.product-details-image {
    width: 400px;
    height: 250px;
    margin-right: 300px;
}

.product-details-image img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

/* ========================================================= Edit Product */

.edit-product {
    margin-top: 70px;
}
