.header {
    height: 65px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    /* background-color: #333333; */
    background: transparent;
    overflow: hidden;
    position: fixed;
    z-index: 2;
    display: flex;
    width: 100%;
    /* filter: blur(3px); */
    /* backdrop-filter: blur(5px) saturate(0%) contrast(0%); */
    backdrop-filter: blur(50px);
    top: 0;
    z-index: 5;
}

.header-container {
    width: 100%;
    padding: 0 10px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu-ul {
    padding: 0;
    color: white;
    /* margin-bottom: 0px; */
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.header-menu-li {
    color: black;
    margin: 0 25px 0 25px;
    font-size: 20px;
    cursor: pointer;
}

.burger-header-menu-li {
    display: flex;
    align-items: center;
    color: black;
    margin: 20px 25px 20px 25px;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 1px solid #d8dadb;
}

.header-icon {
    width: 65px;
    height: 65px;
}

.header-icon-img {
    width: 100%;
}

.header-account ul {
    display: flex;
    padding: 0;
}

.header-account li {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    margin-right: 20px;
    cursor: pointer;
    color: black;
}

/* ====================================== BUrger Menu */

.header-menu-burger-icon {
    display: none;
}

.header-menu-burger {
    position: absolute;
    background-color: white;
    margin-top: 65px;
    position: fixed;
    width: 200px;
    height: 100vh;
    z-index: 4;
    right: -210px;
    transition: 0.3s;
    display: none;
}

.header-menu-burger ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.header-menu-burger.active {
    transition: 0.3s;
    right: 0px;
}

/* ================================================ Modal */

.auth-modal {
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 5px;
    margin-top: 65px;
    right: -250px;
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: white;
    transition: 0.5s;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}

.auth-modal.active {
    right: 0;
    transition: 0.5s;
}

.auth-modal-icon {
    text-align: center;
}

.auth-modal-title {
    text-align: center;
}

.auth-modal-logOut {
    text-align: center;
}

.auth-modal-func {
    display: flex;
    justify-content: center;
}

.auth-modal-func ul {
    padding: 0;
    margin: 20px 0 20px 0;
    list-style-type: none;
}

.auth-modal-func ul li {
    margin-bottom: 10px;
    color: black;
}

.burger-auth-modal-icon {
    position: absolute;
    right: -300px;
    transition: 0.3s;
}
.burger-auth-modal-icon.active {
    transition: 0.3s;
    right: 30px;
}
@media (max-width: 860px) {
    .header-menu {
        display: none;
    }
    .header-account {
        display: none;
    }
    .header-menu-burger-icon {
        display: block;
    }
    .header-menu-burger {
        display: block;
    }
}
