.HomePage {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.home-page {
    height: 100px;
    width: 100%;
    border-bottom: #758388 1px solid;
    position: relative;
}

.home-page-title {
    width: 150px;
    height: 100px;
}

.home-page-title img {
    margin-left: 20px;
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.home-page-container {
    display: flex;
    justify-content: space-between;
}

.home-page-account div {
    display: flex;
}

.home-page-account {
    display: flex;
    align-items: center;
}

.home-page-account-signin,
.home-page-account-signup {
    padding-right: 10px;
    color: #f2f2f2;
    margin: 0;
}

.home-page-modal {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 5px;
    margin-top: -425px;
    right: -250px;
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: white;
    transition: 0.5s;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}

.home-page-modal.active {
    right: 0;
    transition: 0.5s;
}

.home-page-modal-icon {
    text-align: center;
}

.home-page-modal-title {
    text-align: center;
}

.home-page-modal-logOut {
    text-align: center;
}

.home-page-modal-func {
    display: flex;
    justify-content: center;
}

.home-page-modal-func ul {
    padding: 0;
    margin: 20px 0 20px 0;
    list-style-type: none;
}

.home-page-modal-func ul li {
    margin-bottom: 10px;
    color: black;
}

.home-page-menu {
    margin-top: 30px;
    text-align: center;
    width: 200px;
}

.home-page-menu-ul {
    list-style-type: none;
    font-size: 20px;
}

.home-page-menu-li {
    color: #f2f2f2;
    margin-bottom: 20px;
    cursor: pointer;
}

.home-page-ad-title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    border-top: 3px solid #f2f2f2;
    border-bottom: 3px solid #f2f2f2;
}

.home-page-ad-title h5 {
    margin: 10px 0 10px 0;
    color: #f2f2f2;
    font-size: 30px;
}

@media (max-width: 540px) {
    .home-page-modal {
        margin-top: -185px;
    }
    .home-page-menu-ul {
        font-size: 16px;
    }
    .home-page-account-signin {
        font-size: 15px;
    }
    .home-page-account-signup {
        font-size: 15px;
    }
    .home-page {
        height: 70px;
    }
    .home-page-title {
        width: 120px;
        height: 70px;
    }
    .home-page-ad-title h5 {
        margin: 5px 0 5px 0;
        color: #f2f2f2;
        font-size: 20px;
    }
    .home-page-ad-title {
        margin-bottom: 30px;
        margin-top: 20px;
        border-top: 2px solid #f2f2f2;
        border-bottom: 2px solid #f2f2f2;
    }
    .home-page-modal {
        margin-top: -360px;
        width: 170px;
    }
}
